            * {
                font-family: arial;
                text-align: center;
            }
#ipbox{
	margin: 5px;
	border: solid 2px grey;
	border-radius: 2px;
	position: sticky;
	top: 5px;
	background: white;
	color: black;
}

span {
	font-family: sans-serif;
	position: sticky;
	top: 50px;
}

#server-status {
	width: 400px;
	height: 100px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	margin: auto;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .3)
}

#mcImage {
	width: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#serverInfo {
	color: white;
	position: absolute;
	right: 0px;
	height: 100%;
	width: 300px;
	text-align: center;
	overflow: hidden;
}

.offline {
	background: #c41212;
}

.online {
	background: #12c418;
}

.error {
	background: #cccccc;
}

#logo {
	max-width: 25vw;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .3)
}

p {
	max-width: 50vw;
	margin: auto;
}