#logo {
	position: absolute;
	top: 0px;
	margin: auto;
	width: 50%;
	left: 25%;
	z-index: 1;
}

.center {
	text-align: center;
	width: 100%;
	position:absolute;
}

button {
	margin: 5px;
	padding: 10px;
	color: white;
	font-size: 30px;
	background: #0095DD;
	border: none;
	border-radius: 5px;
	cursor: pointer;
		z-index: 200000;
}
#playContent {
    margin:350px;
}

#intro{
	position: fixed;
	background: white;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: arial;
	font-size: 28pt;
	padding: 50px;
	z-index: 100;
}
