/* Tool Bars and App Tray*/
body {
    background-image: url(background);
    margin: 0px;
    font-family: ubuntu;
}

#splashScreen {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 10;
}

#title {
    font-size: 100;
}

#loading {
    width: 50;
        -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


#top-bar {
    background: linear-gradient(#3a3a3a, #666464);
    height: 20px;
    top: 0px;
    z-index: 3;
    color: white;
}

#left-bar {
    width: 55px;
    background: linear-gradient(to right, rgba(0, 0, 0, .7) , rgba(100, 100, 100, .7));
    height: 100%;
    margin-top: 0px;
    z-index: 3;
}

.dockIcon {
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0);
    border: solid;
    border-color: white;
    border-radius: 5px;
    margin: 3px;
}

.logOutItem {
    display: block;
    margin: 0px;
    padding: 3px;
    width: 200;
    text-decoration: none;
    transition-duration: .5s;
}

.logOutItem:hover {
    background: white;
    transition-duration: .5s;
}

#logOutMenu {
    position: absolute;
    right: 0px;
    top: 20px;
    background: #292a2b;
    width: 200;
}

/* Modal Content */
.window {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    max-height: 100%;
    min-height: 300px;
    border-radius: 6px;
    resize: both;
    overflow: auto;
    position:  absolute;
    left: 55;
    top: 20;
    z-index: -2;
    display: none;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 1px;
    margin: 1px;
    height: 22;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    background-color: #f4b042;
    color: white;
    position: relative;
    top: -20;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

#myBtn {
    resize: .5;
}

#clock {
    position: fixed;
    top: 1px;
    right: 5px;
    margin: 0;
    
}

/* Modal Content */
.HowDay-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    height: 450px;
    border-radius: 6px;
    resize: both;
    overflow: auto;
    position:  absolute;
    left: 0;
    top: 0;
}

/* Modal Header */
.HowDay-header {
    background-color: #f4b042;
    color: white;
    position: relative;
    top: -20;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Modal Body */
.HowDay-body {padding: 2px 16px;}

#myBtn {
    resize: .5;
}

#HowDayFrame {
    position: relative;
    bottom: 37;
}

/* Modal Content */
.Browser-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    height: 300px;
    border-radius: 6px;
    resize: both;
    overflow: auto;
    position:  absolute;
    left: 0;
    top: 0;
}


/* Modal Header */
.Browser-header {
    background-color: #f4b042;
    color: white;
    position: relative;
    top: -20;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Modal Body */
.Browser-body {padding: 2px 16px;}

#Menu {
    background: rgba(0, 0, 0, .7);
    height: 150;
    width: 500;
    z-index: 1;
    position: absolute;
    top: 20;
    left: 55;
    border-style: solid;
    border-color: white;
    border-bottom-right-radius: 10px;
}

#closeLauncherButton {
    height: 15;
    width: 15;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-radius: 50px;
    color: white;
    position: absolute;
    left: 485;
}

#launcherCloseText {
    position: relative;
    bottom: 4;
    right: 3;
}

#notepadApp {
    position: absolute;
    left: 50;
    top: 20;
    background: white;
    width: 80%;
    height: 300px;
    border-radius: 6px;
    resize: both;
    overflow: auto;
}

#notepadHeader {
    background-color: #f4b042;
    color: white;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#notepadClose {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    float: right;
}

#notepadContent {
    width: 100%;
    height: 88%;
    border: none;
    resize: none;
    z-index: -1;
}

#downloadlink {
    position:absolute;
    top: 19;
    left: 100;
    color: white;
    font-size:13 ;
}

#create {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    text-decoration: underline;
    position: absolute;
    left: 3;
}

#editHtmlApp {
    position: absolute;
    left: 50;
    top: 20;
    background: white;
    width: 80%;
    height: 300px;
    border-radius: 6px;
    resize: both;
    overflow:hidden;
}

#editHtmlHeader {
    background-color: #f4b042;
    color: white;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#editHtmlClose {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    float: right;
}
